<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeep.dbproject.mapper.GradeMapper">

    <resultMap id="BaseResultMap" type="com.codeep.dbproject.model.domain.Grade">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userNo" column="userNo" jdbcType="VARCHAR"/>
            <result property="lessonNo" column="lessonNo" jdbcType="VARCHAR"/>
            <result property="subject" column="subject" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="grade" column="grade" jdbcType="VARCHAR"/>
            <result property="gpa" column="gpa" jdbcType="DOUBLE"/>
            <result property="term" column="term" jdbcType="TINYINT"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userNo,lessonNo,
        subject,score,grade,
        gpa,term,isDelete
    </sql>
</mapper>
